$backgroundcolor1: rgb(192, 255, 252);
$backgroundcolor2: rgb(70, 70, 139);
$backgroundcolor3: rgb(33, 243, 14);
$buttoncolor1: yellow;
$buttoncolor2: rgb(245, 8, 47);
$buttoncolor3: blue;
$myfont: arial;