@import "variable";

.main {
    display: flex;

    div:nth-child(1){
                 background-color: $backgroundcolor1;
             }
             div:nth-child(2){
                 background-color: $backgroundcolor2;
                 color: #fff;
                 button {
                     color: red;
                     justify-self: center;
                     font-weight: bolder;
                 }
             }
             div:nth-child(3){
                 background-color: $backgroundcolor3;
                 color: royalblue;
    
             }
             button{
                 background-color: $buttoncolor1;
                 border-radius: 5px;
                 border-color: #fff;
                 padding: 20px;
                 width: 200px;
                 padding-right: 50px;
                 padding-left: 50px;
                 vertical-align: bottom;
    
             }
             button:hover {
                 color: red;
                 cursor: pointer;
                 border: 1px solid $buttoncolor1;

             }
        div{
            width: 500px;
            height: 300px;
        }
        h4{
            font-family: $myfont;
            text-align: center;
            padding-top: 100px;
            text-transform: uppercase;
        }
}