$bgcolor: #fff;
$fontF: Verdana, Geneva, Tahoma, sans-serif;
$button: blue;

body {
    margin: 10px;
}

ul {
    display: flex;
    // justify-items: right;
    justify-content: space-around;
    list-style: none;
    border-bottom: 0.5px solid black;
    padding-bottom: 20px;
    // width: 600px;
    padding-left: 800px;
    li{
    text-align: right;        
    }
    a{
        text-decoration: none;
        color: black;
    }
}

.card {
    background-image: linear-gradient(to top right, rgb(189, 15, 15),rgb(53, 10, 109));
    width: 400px;
    height: 250px;
    color: $bgcolor;
    line-height: 1vh;
    border-radius: 10px;
    font-family: $fontF;
    padding-top: 10px;
    p{
        letter-spacing: 4px;
        padding-left: 30px;  
        padding-top: 5px;
    }
    
    img {
        padding-left: 30px;
    }
    .mastercard {
        display: flex;
        justify-content: space-between;

        img {
            padding-right: 40px;
        }
    }
}
.logo {
    padding-bottom: 30px;
    padding-right: 50px;
}
.details {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    width: 500px;
    font-family: $fontF;
    
    .input1:focus{
        background-color: rgb(55, 186, 196);
        width: 200px;
        height: 30px;
        border-color: #fff;
    
    }
    .input1 {
        width: 200px;
        border-radius: 5px;
        height: 30px;
        border-color: whitesmoke;
    }
}
section {
    display: flex;
    border-bottom: 0.5px solid rgb(123, 124, 126);
    justify-content: space-between;
    width: 100%;
}
footer {
    display: flex;
    justify-content: space-between;
    input {
        margin-top: 20px;
        background-color: $button;
        color: #fff;
        width: 200px;
    }
}
button {
    background-color: $button;
    width: 500px;
    color: #fff;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}